@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@import "reset.css";
@import "components/header.css";
@import "screens/game-log.css";

body {
  background-color: #0f1418;
}

.log-main {
  padding: 20px;
}

.log-div {
  background-color: #068fff;
  display: flex;
  align-items: center;
  padding: 14px;
}

.log-div__title {
  font-size: 20px;
}

.log-div__stage {
  margin-left: 10px;
  color: #404040;
}
