@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@import "reset.css";

body {
  background-color: #0f1418;
}

.main-header {
  display: flex;
  background-color: black;
  padding: 30px;
}

.nav-a {
  caret-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
}
