.main-header {
  display: flex;
  background-color: black;
  padding: 15px;
  align-items: center;
}

.nav-a {
  caret-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

.header-logo {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
